@model IEnumerable<Assembla.Models.Ticket>
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function() { $(document).foundationAccordion(); });
    </script>
}
<div class="row">
    <div class="columns 6">
        @foreach(var ticket in Model)
        {
            @Html.DisplayFor(m => ticket)
        }
    </div>
</div>