@model Assembla.Models.Ticket

@{
    Layout = null;
}
<li>
    <div>
        <h4>@Model.Summary</h4>
    </div>
    <div>
        <p>@Model.Description</p>
        <ul>
            @Html.DisplayFor(m => m.Children)
        </ul>
    </div>
</li>