@model Assembla.Models.Ticket

@{
    Layout = null;
}
<div class="panel">
    <h4>#@Model.Number - @Model.Summary</h4>
    <p>@Model.Description</p>
    <div>
    @foreach(var t in @Model.Children)
    {
        @Html.DisplayFor(m => t)
    }
    </div>
</div>