@model Assembla.Models.Ticket

@{
    Layout = null;
}
<script type="text/javascript">
    $(function() { $(document).foundationAccordion(); });
</script>
<li>
    <div class="title">
        <h4>@Model.Summary</h4>
    </div>
    <div class="content">
        <p>@Model.Description</p>
    </div>
</li>